#jatekTer{
    width: 100%;
    height: 42vw;
    display: flex;
    background: url(img/tablahatter.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 5px;
    border: 5px solid black;
}
#kartya{
  /* border: 1px solid green;*/
   width: 100%;
    height: 20vw;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 3px;
    background-color: hsla(120, 3%, 70%, 0.3);
    border-radius: 44px;
}
#korok{
    background-color: red;
    border: 5px solid rgb(0, 0, 0,);
}
#pontok{
    width: 100%;
    height: 20vw;
    margin: 3px;
    background: url("img/kartyaalap.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 44px;
}
#pontok:hover{
    background: url("img/kartyhover.png");
    background-size: cover;
    background-repeat: no-repeat;   
}
#tabla{
    width: 50%;
    height: 40vw;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
#leftside{
    width: 60vh;
    height: 40vw;
}
.sordiv{
    display: flex;
    flex-direction: row;
    height: 8vw;
}
.oszlopdiv{
    width: 16.6%;
    margin: 5px;
    background-color: hsla(120, 3%, 70%, 0.3);
    border-radius: 44px;
    border: 5px solid rgba(0, 0, 0, 0.3);
}

img{
    width: 100%;
}

#alsoter{
    width: 100%;
    height: 20vw;
}
#kepid img{
    border-radius: 44px;
}
